<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Spring.Core" culture="neutral" publicKeyToken="65e474d141e25e07"/>
				<bindingRedirect oldVersion="0.0.0.20110" newVersion="1.3.0.20349"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Spring.Aop" culture="neutral" publicKeyToken="65e474d141e25e07"/>
				<bindingRedirect oldVersion="0.0.0.20110" newVersion="1.3.0.20349"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>